<html>

<head>
    <title>angular.bootstrap()</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-app="app" style="text-align:Center">
    <h1 style="color:blue">Bootstrap</h1>
    <h2>angular.bootstrap()</h2>
    <div ng-controller="Bootstrap">
        <div class="col-md-3 well" ng-init="count=0">
            Rock:
            <input type="radio" ng-model="Music" value="Rock" ng-change="layout(Music)" />
            Metal:
            <input type="radio" ng-model="Music" value="Metal" ng-change="layout(Music)" />
            <pre><b>You selected:</b> {{result}} </pre>
        </div>
    </div>
    <script>
        var app = angular.module("app", []);
        app.controller('Bootstrap', ['$scope', function ($scope) {
            $scope.layout = function (Music) {
                $scope.result = Music;
            }
        }]);
        angular.bootstrap(document, ['app']);
    </script>
</body>

</html>