a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #F0A04B;
    color: #183A1D;
    background-color: #E1EEDD;
}

li {
    color: #f6C453;
    font-weight: 600;
    background-color: #FEFBE9;
    margin-bottom: 8px;
}

ul {
    margin-left: 2cm;
}

body {
    background-color: #f9f9f9;
    margin: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main-content {
    width: 80%;
    margin: auto;
    padding: 12px;
    border: 1px solid grey;
    background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: orange;
}

p {
    margin-bottom: 0.75em;
    line-height: 1.5em;
}

#sidebar {
    background-color: #FFEB2A;
    width: 0;
    z-index: 1;
    overflow: hidden;
    position: fixed;
    height: 100%;
    transition: 0.5s;
}

#sidebar-icon {
    font-size: 36px;
    cursor: pointer;
    color: orange;
}

.highlighted-text {
    background-color: yellow;
    border: 1px solid #E78587;
    padding: 1px 3px;
}