<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Record</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>

<body ng-app="formApp" ng-controller="formController">
    <h1>Welcome to Student Forms</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/insert.html">Insert</a>
    </nav>
    <input type="text" placeholder="Enter the student's name" ng-model="name"><br />
    <input type="number" placeholder="Enter the student's age" ng-model="age"><br />
    <button ng-click="insertRecord()">Insert</button>
</body>
<script>
    var app = angular.module("formApp", []);
    app.controller("formController", function ($scope, $http) {
        $scope.insertRecord = function () {
            $http.get("/insert", { params: { name: $scope.name, age: $scope.age } }).then(function (res) {
                window.alert("Inserted Successfully");
            });
        };
    });
</script>

</html>